#To Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^expresscash.ca/ [NC]
RewriteRule ^(.*)$ https://www.expresscash.ca/$1 [L,R=301,NC]
RewriteRule ^conditions-d-utilisation?$  /conditions-d-utilisation.php [L]
RewriteRule ^terms-of-use?$  /terms-of-use.php [L]
RewriteRule ^privacy-policy?$  /privacy-policy.php [L]
RewriteRule ^politique-de-confidentialite?$  /politique-de-confidentialite.php [L]
RewriteRule ^home-fr?$  /home-fr.php [L]
RewriteRule ^contact?$  /contact.php [L]
RewriteRule ^contact-fr?$  /contact-fr.php [L]
RewriteRule ^500-loan?$  /500-loan.php [L]
RewriteRule ^pret-500?$  /pret-500.php [L]
RewriteRule ^1000-loan?$  /1000-loan.php [L]
RewriteRule ^pret-1000?$  /pret-1000.php [L]
RewriteRule ^1500-loan?$  /1500-loan.php [L]
RewriteRule ^pret-1500?$  /pret-1500.php [L]
RewriteRule ^2000-loan?$  /2000-loan.php [L]
RewriteRule ^pret-2000?$  /pret-2000.php [L]
RewriteRule ^personal-loans?$  /personal-loans.php [L]
RewriteRule ^prets-personnels?$  /prets-personnels.php [L]
RewriteRule ^fast-online-loans?$  /fast-online-loans.php [L]
RewriteRule ^pret-rapide-en-ligne?$  /pret-rapide-en-ligne.php [L]
RewriteRule ^cote-credit?$  /cote-credit.php [L]
RewriteRule ^credit-score?$  /credit-score.php [L]
RewriteRule ^prets-24-7?$  /prets-24-7.php [L]
RewriteRule ^loans-24-7?$  /loans-24-7.php [L]
RewriteRule ^prets-sans-verification-credit?$  /prets-sans-verification-credit.php [L]
RewriteRule ^no-credit-check-loans?$  /no-credit-check-loans.php [L]
RewriteRule ^virement-interac?$  /virement-interac.php [L]
RewriteRule ^interac-e-transfer?$  /interac-e-transfer.php [L]
RewriteRule ^finances-personnelles?$  /finances-personnelles.php [L]
RewriteRule ^personal-finances?$  /personal-finances.php [L]
RewriteRule ^emprunts-instantanes?$  /emprunts-instantanes.php [L]
RewriteRule ^instant-loans?$  /instant-loans.php [L]
RewriteRule ^bonne-cote-credit?$  /bonne-cote-credit.php [L]
RewriteRule ^good-credit-rating?$  /good-credit-rating.php [L]
RewriteRule ^pret-rapide?$  /pret-rapide.php [L]
RewriteRule ^quick-loan?$  /quick-loan.php [L]
RewriteRule ^credit-file?$  /credit-file.php [L]
RewriteRule ^dossier-credit?$  /dossier-credit.php [L]
RewriteRule ^credit?$  /credit.php [L]
RewriteRule ^le-credit?$  /le-credit.php [L]

Redirect 301 /privacy-policy-en /privacy-policy
Redirect 301 /privacy-policy-fr /politique-de-confidentialite

Redirect 301 /terms-of-use-fr /conditions-d-utilisation
Redirect 301 /terms-of-use-en /terms-of-use

RewriteRule ^home-fr\?Loan-Amount-Request=250\%24$ https://www.expresscash.ca/? [R=301,L]
RewriteRule ^home-fr\?Loan-Amount-Request=750\%24$ https://www.expresscash.ca/? [R=301,L]
RewriteRule ^home-fr\?Loan-Amount-Request=500\%24$ https://www.expresscash.ca/? [R=301,L]
RewriteRule ^home-fr\?Loan-Amount-Request=1000\%24$ https://www.expresscash.ca/? [R=301,L]
RewriteRule ^\?Loan-Amount-Request=250%24$ https://www.expresscash.ca/? [R=301,L]
RewriteRule ^\?Loan-Amount-Request=500%24$ https://www.expresscash.ca/? [R=301,L]
RewriteRule ^\?Loan-Amount-Request=2000%24$ https://www.expresscash.ca/? [R=301,L]
RewriteRule ^\?Loan-Amount-Request=1000%24$ https://www.expresscash.ca/? [R=301,L]
RewriteRule ^\?Loan-Amount-Request=1750%24$ https://www.expresscash.ca/? [R=301,L]